<div class="chart-title">
  <h3>{{demo.chartTitle}}</h3>
</div>
{{{demo.chartDiv}}}
<div class="ct-legend">  
</div>
<div class="statistics">
  <b>Gemessener Zeitraum: </b><span>{{demo.statistics.fromTo}} ({{demo.statistics.calculatedHours}} Stunden)</span><br>
  <b>Verbrauchte Energie: </b><span>{{demo.statistics.usedEnergy}} Ws</span><br>
  <b>durchschnittliche Leisung: </b><span>{{demo.statistics.averagedPower}} W</span>
</div>