
{{#extend "lib/default"}}
    {{#content "content"}}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <h3>Messgerät: {{measurement.socket}}</h3>
                    {{{chartDiv}}}
                    <div class="ct-legend">  
                    </div>
                    <div class="statistics">
                      <b>Gemessener Zeitraum: </b><span>{{measurement.statistics.fromTo}} ({{measurement.statistics.calculatedMinutes}} Minuten)</span><br>
                      <b>Verbrauchte Energie im Zeitraum: </b><span>{{measurement.statistics.usedEnergy}} Wh = {{measurement.statistics.usedEnergykWh}} kWh</span><br>
                      <b>Verbrauchte Energie pro Minute: </b><span>{{measurement.statistics.usedEnergyPerMinute}} kWh / min</span> </br>
                      <b>CO2-Emission im Zeitraum: </b><span>{{measurement.statistics.co2emission}} kg</span><br>
                      <b>durchschnittliche Leistung: </b><span>{{measurement.statistics.averagedPower}} W</span>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}